*{
    font-family: 'Comic Neue', cursive;
    font-family: 'Press Start 2P', cursive;
    box-sizing: border-box;
}

/* typing text*/
.sec.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
   
}

h1{
    font-size: 4em;
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 15ch;
    animation: typing 4s steps(15)alternate infinite,
    blink 0.5s infinite step-end alternate;
    overflow: hidden;

}

.sec.principal h2{
    font-size: 2em;
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width:13ch ;
    animation: typing 4s steps(13) alternate infinite,
    blink 0.5s infinite step-end alternate;
    overflow: hidden;
}


@keyframes typing {
 
    0%{
        width: 0;
    }
   
}
@keyframes blink{
    50%{
        
    }
}

.sec{
    transform: scale(0.8);
    opacity: 0;
    transition: all 1.2s ease-out;
}

.showGame{
    transform: scale(1);
    opacity: 1;
}


/* GAME styles */

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background:  #1f242d;
    color: #fefe32;
    display: flex;
    flex-direction: column;
   
}

main{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 16px;
    
}

.title{
    text-align: center;
}

#options{
    display: inherit;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    flex: 2 0 400px;
}

.select{
    display: flex;
    flex-direction: column;
   
}

.select > img{
    width: 60%;
    height: 80%;
    margin: 0 auto;
    transition: all 0.6s ease;
    border-radius: 10px; 
}
.select > img:hover{
    transform:scale(1.2);
    cursor: pointer;
    border-radius: 10px;
    border-color:#fefe32 ;
    box-shadow: 0px 0px 12px 0px #feee32;
}

#text{
    margin: 1rem;
    text-align: center;
}
.is-activeResult{
    border:2px dotted white;
    padding: 1rem;
   
  
}
.is-activeFinal{
    border: 3px solid gold;
    padding: 2rem ;
    transition: all 3s ease;
    transform: scale(1.2);
}

.reload{
    box-shadow: 0 0 5px #feee32, 
    0 0 25px #feee32;
    width: 8rem;
    height: 4rem;
    border-radius: 8px;
    background-color: #feee32;
    border: 0px none;

}
.reload:hover{
    box-shadow:  0 0 5px #feee32 , 
    0 0 25px #feee32 , 0 0 50px #feee32,
    0 0 50px #feee32 , 0 0 50px #feee32 ;
    cursor: pointer;
    overflow: hidden;
}



/* footer */

#git-logo{
    width: 4rem;
    height:4rem ;
    margin: 10px;
}

footer{
    display: flex;
    flex: 0 0 90px;
    justify-content: center;
    align-items: center;
    margin: 60 auto;
    margin-top: 10px;
    background-color: #262e3b;
    
}